button, .btn
{
  padding:0;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
  color: inherit;
}

button:hover, .btn:hover
{
  filter: brightness(110%);
}

.btn-approve
{
  background-color: green;
  color: white;
}

.btn-deny
{
  background-color: red;
  color: white;
}

.btn-edit
{
  background-color: orange;
}

.buttonGroup
{
  display: flex;
  justify-content: center;
}

.bg-stretch
{
  width: 100%;
}

.buttonGroup-vertical
{
  flex-direction: column;
  max-width: 100%;
}
