.input-group
{
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.input-group-vertical
{
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.input-group input
{
  font-family: "Calibri";
  height: 100%;
  max-width: 100%;
  width: 100%;
  font-size: inherit;
  border: 0;
  border-radius: 0 10px 10px 0;
  margin: 5px 0;
  padding: 0 .5rem;
  outline: none;
}
.input-group span, .input-group-vertical span
{
  height: 100%;
  display: inline-flex;
  align-items: center;
  text-align: center;
  font-size: inherit;
  background-color: gray;
  border-radius: 10px 0 0 10px;
  margin: 5px 0;
  padding: 0 .5rem;
  white-space: nowrap;
}

.input-group select
{
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background-color: white;
  height: 100%;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  border-radius: 0 10px 10px 0;
  outline: 0;
  border: 0;
  margin: 5px 0;
  padding: 0 .5rem;
}

.span-top
{
  border-radius: 10px 10px 0 0 !important;
  width: 100%;
  display: flex !important;
  justify-content: center;
  text-align: center;
  padding: 10px 0 !important;
  margin: 0 !important;
}

.input-group-vertical textarea
{
  font-family: "Calibri";
  padding: 10px;
  height: 100%;
  width: 100%;
  font-size: inherit;
  border: 0;
  border-radius: 0 0 10px 10px;
  margin: 0;
  outline: none;
  resize: none;
}
.input-group-vertical .container
{
  display: flex;
  width: 100%;
}

.input-group input:focus,input:hover,textarea:focus,textarea:hover,select:focus,select:hover
{
  background-color: lightgray;
}
