.input-group
{
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-group input
{
  font-family: "Calibri";
  padding: 10px;
  height: 100%;
  max-width: 100%;
  font-size: inherit;
  border: 0;
  border-radius: 0 10px 10px 0;
  margin: 0;
}
.input-group span
{
  padding: 10px;
  font-size: inherit;
  background-color: gray;
  border-radius: 10px 0 0 10px;
  height: 100%;
}

.input-group input:focus
{
  background-color: lightgray;
}
