@import "components/navbar.css";
@import "components/buttons.css";
@import "components/input.css";

:root
{
  font-size: 18px;
  font-family: "Calibri";
  --navbar-topMenu: #AAB7B8;
  --navbar-topMenu-active: #2980B9;
  --primary: #AAB7B8;
  --darker: #808B96;
  --secondary: #99A3A4;
}
body,html
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

main
{
  margin: 0 0 0 15rem;
  padding: 1.5rem 2.5rem;
}

#events
{
  display: flex;
  flex-direction: column;
}

#main-news
{
  display: flex;
  flex-direction: column;
}

#main-members
{
  display: grid;
  grid-row-gap: 1rem;
}

.profileContent
{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-row-gap: 1rem;
  background-color: var(--primary);
  padding: 10px;
}

.news
{
  background-color: gray;
}
.news:nth-child(2n)
{
  background-color: darkgray !important;
}

.news-contents
{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

span.active,span.semi-active,span.inactive
{
  padding: .75rem;
  border-radius: 15px;
}

.news tr
{
  background-color: inherit !important;
}

.news-edit-input
{
  display: flex;
  flex-direction: column;
  align-content: center;
  flex: 2;
}

.news-edit-input>.input-group>span,.news-edit-input>.input-group>input
{
  padding: .5rem .5rem;
}

.hidden
{
  display: none;
}



.event
{
  display: flex;
  flex-direction: column;
  background-color: white;
}

.event-selected
{
  background-color: darkgray;
}
.event-edit-input > .input-group-vertical
{
  width: 90%;
}
.edit-status
{
  width: 20%;
}
.event-contents td
{
  text-align: center;
}

.event-contents td
{
  padding: .25rem .5rem;
}

.event-contents tbody th:nth-child(1)
{
  width: 15%;
}
.event-contents td:nth-child(2)
{
  width: 5%;
}
.event-contents td:nth-child(3)
{
  width: 12%;
}
.event-contents td:nth-child(4)
{
  width: 10%;
}
.event-contents td:nth-child(5)
{
  width: 10%;
}
.event-contents td:nth-child(7)
{
  width: 5%;
}

.pictureCell
{
  width: 5%;
}

.textCell
{
  width: 40%;
}

.event:nth-child(2n)
{
  background-color: gray;
}

.event-contents
{
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.event-edit
{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
}

.event-edit-input
{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
}

.event-edit .buttonGroup
{
  flex-direction: column;
  padding-left: 1rem;
  min-width: 10%;
}

.event tr
{
  background-color: inherit !important;
}


.sectionFooter
{
  background-color: var(--navbar-topMenu-active);
  border-radius: 0 0 10px 10px;
  padding: .25rem;
}

#announcements
{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1rem 1rem;
}

#announcementsFeed
{
  grid-column: 1 / span 2 ;
  display: flex;
  flex-direction: column;
}

#createAnnouncements
{
  grid-column: 1/ span 3;
}

.container
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: 50vh auto;
}

.informationRow
{
  background-color: white !important;
}
.informationRow:nth-child(2n)
{
  background-color: gray !important;
}

.informationRow
{
  width: 100%;
  display: flex;
  align-items: center;
}
.informationRow h2,p
{
  font-size: inherit;
}
.informationRow p
{
  margin-left: auto;
  padding-right: 2.5rem;
}
.informationRow h2
{
  padding-left: 2.5rem;
}

.information
{
  background-color: var(--primary);
}

section
{
  width: 100%;
  height: 100%;
}

#editProfile
{
  width: 100%;
  height: 100%;
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
}

#walkingStats
{
  height: 100%;
  grid-column: 1 / span 3;
}

.profileInformation
{
  max-width: 100%;
  grid-row: 0 / -1;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.profileContent > .buttonGroup
{
  grid-column: 1/-1;
}

.userInformation
{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

#editProfile .content
{
  padding: 1rem;
}

#editProfile .content > .buttonGroup
{
  justify-content: center;
  width: 40%;
}

.content
{
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
}

.content-vertical
{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  /* padding: 10px; */
  overflow-y: scroll;
  height: 100%;
}

figure
{
  margin: 0;
  padding: 0.5rem 1rem;
}

figcaption
{
  text-align: center;
  font-size: 16px;
}

img
{
  max-width: 100%;
}

.rounded
{
  border-radius: 50%;
}

.sectionHeader
{
  border-radius: 10px 10px 0 0;
  background-color: var(--navbar-topMenu-active);
  padding: 15px 1rem;
}
.sectionHeader > h1
{
  margin:0;
  text-align: center;;
}

table
{
  border-spacing: 0px;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: auto;
}
thead tr
{
  background-color: var(--darker);
}
tr
{
  background-color: var(--primary);
}

tr:nth-child(2n)
{
  background-color: var(--secondary);
}
th
{
  text-align: center;
  padding: 10px;
}

td
{
  padding: 5px;
  text-align: center;
  font-size: 16px;
  font-family: "Calibri";
}

td > img
{
  max-width: 100%;
}
.active
{
  background-color: green;
  color: white;
}
.semi-active
{
  background-color: orange;
}
.inactive
{
  background-color: red;
  color: white;
}

.row
{
  display: grid;
  grid-template-columns: 50% 50%;
}
