@import "components/navbar.css";
@import "components/buttons.css";
@import "components/input.css";

:root
{
  font-size: 18px;
  font-family: "Calibri";
  --navbar-topMenu: #AAB7B8;
  --navbar-topMenu-active: #2980B9;
  --primary: #AAB7B8;
  --darker: #808B96;
  --secondary: #99A3A4;
}
body,html
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

main
{
  margin: 0 1rem 0 16rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap:1rem;
  grid-template-rows: 50vh auto;
}

section
{
  width: 100%;
  height: 100%;
}

#editProfile
{
  width: 100%;
  height: 100%;
  grid-column: 1 / span 2;
}

#walkingStats
{
  height: 100%;
  grid-column: 1 / span 3;
}

.profileInformation
{
  width: 100%;
  background-color: white;
  grid-row: 0 / -1;
}

.content
{
  max-width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
}

img
{
  max-width: 100%;
}

.rounded
{
  border-radius: 50%;
}

.sectionHeader
{
  border-radius: 10px 10px 0 0;
  background-color: var(--navbar-topMenu-active);
  padding: 15px 1rem;
}
.sectionHeader > h1
{
  margin:0;
  text-align: center;;
}

table
{
  border-spacing: 0px;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: auto;
}
thead tr
{
  background-color: var(--darker);
}
tr
{
  background-color: var(--primary);
}

tr:nth-child(2n)
{
  background-color: var(--secondary);
}
th
{
  text-align: center;
  padding: 10px;
}

td
{
  padding: 5px;
  text-align: center;
  font-size: 16px;
  font-family: "Calibri";
}

td > img
{
  max-width: 100%;
}
.active
{
  background-color: green;
}
.semi-active
{
  background-color: orange;
}
.inactive
{
  background-color: red;
}
