/* @import "components/navbar.css";
@import "components/buttons.css";
@import "components/input.css"; */

:root {
  font-size: 18px;
  font-family: "Calibri";
  --navbar-topMenu: #AAB7B8;
  --navbar-topMenu-active: #2980B9;
  --primary: #AAB7B8;
  --darker: #808B96;
  --secondary: #99A3A4;
}

/* DIRECT ELEMENT STYLING */
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

main {
  margin: 0 0 0 15rem;
  padding: 1.5rem 2.5rem;
}

figure {
  margin: 0;
  padding: 0.5rem 1rem;
}

figure>img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  text-align: center;
  font-size: 16px;
}

img {
  max-width: 100%;
}

span.active, span.semi-active, span.inactive {
  padding: .75rem;
  border-radius: 15px;
}

section {
  width: 100%;
  height: 100%;
}

table {
  border-spacing: 0px;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: auto;
}

thead tr {
  background-color: var(--darker);
}

tr {
  background-color: var(--primary);
}

tr:nth-child(2n) {
  background-color: var(--secondary);
}

th {
  text-align: center;
  padding: 10px;
}

td {
  padding: 5px;
  text-align: center;
  font-size: 16px;
  font-family: "Calibri";
}

td>img {
  max-width: 100%;
}

/* ID ELEMENT STYLING */
#events {
  display: flex;
  flex-direction: column;
}

#main-news {
  display: flex;
  flex-direction: column;
}

#main-members {
  display: grid;
  grid-row-gap: 1rem;
}

#main-newsPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-login {
  margin: 0;
}

#announcements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem 1rem;
}

#announcementsFeed {
  grid-column: 1 / span 3;
  display: flex;
  flex-direction: column;
}

#createAnnouncements {
  grid-column: 1/ span 3;
}

#editProfile {
  width: 100%;
  height: 100%;
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
}

#walkingStats {
  height: 100%;
  grid-column: 1 / span 3;
}

#editProfile .content {
  padding: 1rem;
}

#editProfile .content>.buttonGroup {
  justify-content: center;
  width: 40%;
}

#newsfeed th {
  width: auto;
  padding: .5rem 1.5rem;
  white-space: nowrap;
}

#announcementsFeed th:nth-child(n) {
  padding: .5rem 1.5rem;
  white-space: nowrap;
}

#announcementsFeed th:first-child {
  width: 15%;
}

#announcementsFeed th:nth-child(2) {
  width: 10%;
}

#announcementsFeed th:nth-child(3) {
  width: auto;
}

#announcementsFeed th:nth-child(4) {
  width: 15%;
}

#main-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* CLASS STYLING */
.profileContent {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-row-gap: 1rem;
  background-color: var(--primary);
  padding: 10px;
}

.profileContent .rounded {
  margin: auto;
}

.news {
  background-color: gray;
}

.news:nth-child(2n) {
  background-color: darkgray;
}

.news-contents {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.news tr {
  background-color: inherit !important;
}

.newsPost-info {
  text-align: center;
  margin: 1rem 1rem;
  background-color: #DDD;
  border-radius: .5rem;
  border: 1.5px solid #999;
  padding: .5rem;
}

.newsPost-info h2, .newsPost-info p {
  margin: 0;
}

.newsPost-info p {
  padding-top: .5rem;
}

.news-edit-input {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex: 2;
}

.news-edit-input>.input-group>span, .news-edit-input>.input-group>input {
  padding: .5rem .5rem;
}

.hidden {
  display: none;
}

.event {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.event-selected {
  background-color: darkgray;
}

.event-edit-input>.input-group-vertical {
  width: 90%;
}

.edit-status {
  width: 20%;
}

.event-contents td {
  text-align: center;
}

.event-contents td {
  padding: .25rem .5rem;
}

.event-contents tbody th:nth-child(1) {
  width: 15%;
}

.event-contents td:nth-child(2) {
  width: 5%;
}

.event-contents td:nth-child(3) {
  width: 12%;
}

.event-contents td:nth-child(4) {
  width: 10%;
}

.event-contents td:nth-child(5) {
  width: 10%;
}

.event-contents td:nth-child(7) {
  width: 5%;
}

.pictureCell {
  width: 5%;
}

.textCell {
  width: 40%;
}

.event:nth-child(2n) {
  background-color: gray;
}

.event-contents {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.event-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
}

.event-edit-input {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-wrap: wrap;
}

.event-edit .buttonGroup {
  flex-direction: column;
  padding-left: 1rem;
  min-width: 10%;
}

.news-edit-input>.input-group-vertical {
  width: 90%;
}

.news-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .25rem;
  background-color: inherit;
}

.news-selected {
  background-color: #BBB !important
}

.news-selected-darker {
  background-color: #AAA !important
}

.news-edit-input {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-wrap: wrap;
}

.news-edit .buttonGroup {
  flex-direction: column;
  padding-left: 1rem;
  min-width: 10%;
}

.event tr {
  background-color: inherit !important;
}

.sectionFooter {
  background-color: var(--navbar-topMenu-active);
  border-radius: 0 0 10px 10px;
  padding: .25rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.informationRow {
  background-color: white !important;
}

.informationRow:nth-child(2n) {
  background-color: gray !important;
}

.informationRow {
  width: 100%;
  display: flex;
  align-items: center;
}

.informationRow h2, p {
  font-size: inherit;
}

.informationRow p {
  margin-left: auto;
  padding-right: 2.5rem;
}

.informationRow h2 {
  padding-left: 2.5rem;
}

.information {
  background-color: var(--primary);
}

.profileInformation {
  max-width: 100%;
  grid-row: 0 / -1;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.profileContent>.buttonGroup {
  grid-column: 1/-1;
}

.userInformation {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

.content {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
}

.content-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  /* padding: 10px; */
  overflow-y: auto;
}

.rounded {
  border-radius: 50%;
}

.sectionHeader {
  border-radius: 10px 10px 0 0;
  background-color: var(--navbar-topMenu-active);
  padding: 15px 1rem;
}

.sectionHeader>h1 {
  margin: 0;
  text-align: center;
  ;
}

.active {
  background-color: green;
  color: white;
}

.semi-active {
  background-color: orange;
}

.inactive {
  background-color: red;
  color: white;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.row-span {
  grid-column: 1 /-1;
  /* background-color: red; */
}

.newsPost-contents {
  display: flex;
  flex-direction: column;
  background-color: #BBB;
}

.banner {
  padding: .25rem;
}

.column {
  display: flex;
  flex-direction: column;
}

.login-contents {
  background-color: #BBB;
  padding: 1rem;
}

.section-contents {
  background-color: #BBB;
  padding: .5rem;
}

.section-contents .row, .section-contents .flex-row {
  padding: .25rem 0;
}

.figure-container {
  background-color: #CCC;
  border-radius: .5rem;
  padding: 10px;
  border: 2px solid #AAA;
}

.figure-container:hover {
  background-color: #AAA;
}

.figure-container>figcaption {
  padding: .5rem 0 0 0;
  /* background-color: #BBB; */
}

.flex-row {
  display: flex;
}

/* BUTTON STYLING */
button, .btn {
  padding: 0;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  font-size: 15px;
  font-family: inherit;
}

button:hover, .btn:hover, button:focus, .btn:focus {
  filter: brightness(110%);
  border: none;
  outline: none;
}

.btn-approve {
  background-color: green;
  color: white;
}

.btn-deny {
  background-color: red;
  color: white;
}

.btn-edit {
  background-color: orange;
}

.buttonGroup {
  display: flex;
  justify-content: center;
}

.bg-stretch {
  width: 100%;
}

.btn-chevron {
  padding: 0;
  margin: 0;
  background: none;
  transition: transform 250ms;
}

.btn-chevron:hover {
  transform: rotate(180deg);
}

.buttonGroup-vertical {
  flex-direction: column;
  max-width: 100%;
}

/* INPUT STYLING */
.input-group {
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.input-group-vertical {
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.input-group input {
  font-family: "Calibri";
  height: 100%;
  max-width: 100%;
  width: 100%;
  font-size: inherit;
  border: 0;
  border-radius: 0 10px 10px 0;
  margin: 5px 0;
  padding: 0 .5rem;
  outline: none;
  background-color: white;
}

.input-group input[type='file'] {
  text-align: center;
  text-indent: -999em;
  outline: none;
  cursor: pointer;
}

.input-group span, .input-group-vertical span, .input-group label, .input-group-vertical label {
  height: 100%;
  display: inline-flex;
  align-items: center;
  text-align: center;
  font-size: inherit;
  background-color: gray;
  border-radius: 10px 0 0 10px;
  margin: 5px 0;
  padding: 0 .5rem;
  white-space: nowrap;
}

.input-group select {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background-color: white;
  height: 100%;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  border-radius: 0 10px 10px 0;
  outline: 0;
  border: 0;
  margin: 5px 0;
  padding: 0 .5rem;
}

.span-top {
  border-radius: 10px 10px 0 0 !important;
  width: 100%;
  display: flex !important;
  justify-content: center;
  text-align: center;
  padding: 10px 0 !important;
  margin: 0 !important;
}

.input-group-vertical textarea {
  font-family: "Calibri";
  padding: 10px;
  height: 100%;
  width: 100%;
  font-size: inherit;
  border: 0;
  border-radius: 0 0 10px 10px;
  margin: 0;
  outline: none;
  resize: none;
}

.input-group-vertical .container {
  display: flex;
  width: 100%;
}

.input-group input:focus, .input-group input:hover, .input-group-vertical textarea:focus, .input-group-vertical textarea:hover, .input-group select:focus, .input-group select:hover {
  background-color: lightgray;
}

/* NAVBAR STYING */
.nav-mainMenu {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 15rem;
  background-color: #1F618D;
  position: fixed;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-logo {
  padding: 5px 0;
}

.nav-bottom {
  margin-top: auto;
  margin-bottom: 5px;
}

.nav-item {
  width: 100%;
}

.nav-item:hover {
  background-color: #1A5276;
}

.nav-item-active {
  background-color: #1A5276;
}

.nav-subitem-active {
  background-color: #154360;
}

.nav-link {
  text-decoration: none;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
}

.nav-link span {
  padding: 0 .75rem;
  color: white;
}

.navbar-topMenu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-dropdown {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

.nav-dropdown>.nav-item:hover {
  background-color: #154360;
}

.nav-topMenu ul>li>a {
  display: flex;
  align-items: center;
}
